* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: rgb(242, 247, 248);
  --color-sidebar-bg: rgb(36, 34, 34);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-input-search: rgb(45, 44, 44);
}

body {
  display: flex;
  background-color: var(--color-background);
}

.sidebar i {
  color: var(--color-white);
  padding: 12px;
  margin: 5px 0;
  cursor: pointer;
}

.sidebar i:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 10px;
}
/*============================================================================================
sidebar inativa
============================================================================================*/

.sidebar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-sidebar-bg);
  width: 80px;
  padding: 5px 15px;
  height: 100vh;
  transition: all 0.5s ease;
}

.sidebar__menu {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  cursor: pointer;
}

.sidebar__search input,
.sidebar p {
  display: none;
}

.sidebar__buttons li {
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar__buttons li:hover p,
.sidebar__logout:hover p {
  display: flex;
  position: absolute;
  left: 90px;
  padding: 10px;
  border-radius: 10px;
  width: 80px;
  font-weight: 500;
  color: var(--color-black);
  background-color: var(--color-white);
}

.sidebar__logout {
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*============================================================================================
sidebar ativa
============================================================================================*/

.sidebar.active {
  width: 240px;
}

.sidebar.active .sidebar__menu {
  margin: 10px 3px;
  justify-content: end;
}

.sidebar.active .sidebar__search {
  display: flex;
  background-color: var(--color-input-search);
  border-radius: 10px;
  margin: 15px 0;
}

.sidebar.active .sidebar__search i {
  color: var(--color-white);
}

.sidebar.active .sidebar__search i:hover {
  background-color: transparent;
}

.sidebar.active .sidebar__search input {
  display: flex;
  border: none;
  padding: 0 10px;
  background-color: transparent;
  width: 90%;
  outline: none;
  color: var(--color-white);
}

.sidebar.active .sidebar__buttons li {
  justify-content: flex-start;
  margin: 5px;
  cursor: pointer;
}

.sidebar.active .sidebar__buttons li:hover {
  background-color: var(--color-white);
  border-radius: 10px;
  color: var(--color-black);
}

.sidebar.active .sidebar__buttons li:hover p {
  margin: -20px;
}

.sidebar.active .sidebar__buttons li:hover i {
  color: var(--color-black);
}

.sidebar.active p {
  display: flex;
  padding: 0 14px;
}

.sidebar.active .sidebar__logout {
  left: 15px;
  width: 180px;
}
